**/.git
**/.gitignore
**/.idea
**/.vscode
**/.settings
**/.classpath
**/.project
**/target
**/*.class
**/.env
**/.env.*
!**/.env.example
**/node_modules
**/*.log
database/
frontend/
*.md
*.txt
*.bat
LICENSE
